:root {
    --color-background: #202020;
    --grey: #999;
    --red: #e62429;
    --robotoCondensed: 'Roboto Condensed';
    --roboto-bold:"Roboto" ; 
    --text-primary: var(--roboto-bold);
    --text-secondary: var(--robotoCondensed);
    --max-width: 960px;
    --at-home-width: 1240px;
    --minWidth:500px;
}
body{
    font-family: var(--text-primary);
}
*{
    /* selector universal */
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*_____________________________________________________________*/
.navigation{
    background: var(--color-background);
    text-decoration: none;
    font-family: var(--text-secondary) ;
    border: 1px solid #393939;
}
.navigation__list{
    display: flex; /* posiciona los elementos en una sola linea*/
    list-style: none;
    justify-content: space-between;/*alinea el contenido */
    max-width: 680px;
}
.navigation__item{
    padding: 10px 18px;
}
.navigation__link{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.header{
    background-color: var(--color-background);
}
.header__image{
    display: block;
}
/*_____________________________________________________________*/
.container{
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}
/*_____________________________________________________________*/
.banner{
    background-color: black;
    height: 500px;
}
.banner__container{
    /*padre*/
    display: flex; /**/
    align-items: center;/*centra los elementos del contendor*/
    height: 500px;
}
.banner__content{
    color: white;
}
.banner__title{
    font-family: var(--text-secondary);
    font-weight: 500;
    font-size: 44px;
    text-transform: uppercase;
    padding: 10px 0;
}
.banner__description{
    letter-spacing: 0.5px;

}
.banner__links{
    margin-top: 25px;
}
.banner__links a{
    text-decoration: none;
    color: white;
    background-color: var(--red);
    padding: 10px;
}
.banner{
    background-image: url("./Imagenes/wandavision_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/*_____________________________________________________________*/
.marvel-at-home__item{
    width: 25%;
    margin-right: 8px;
    display: block;
}
.marvel-at-home__title:hover{
    color: red;
}
.marvel-at-home__item:last-child{
    margin-right: 0;
}

.marvel-at-home__image img{
    width: 100%;    
    height: 130px;
    overflow: hidden; /* ajusta el contenido y ajusta*/
}
.marvel-at-home__category{
    color: var(--grey);
    font-size: 13px;
    font-family: var(--robotoCondensed);
}
.marvel-at-home__title{
    font-weight: 700;
    font-size: 15px;
    font-family: var(--robotoCondensed);
}

/*_____________________________________________________________*/
.marvel-podcast__image img{
    width: 100%;
    height: auto;
}
.marvel-podcast__category{
    color: var(--grey);
    font-size: 13px;
    font-family: var(--robotoCondensed);
}
.marvel-podcast__title:hover{
    color: red;
}
.marvel-podcast__title{
    font-weight: 700;
    font-size: 15px;
    font-family: var(--robotoCondensed);
}
.marvel-podcast__item{
    width: 25%;
    margin-right: 8px;
    display: block;
}
.marvel-podcast__item:last-child{
    margin-right: 0;
}
@media (min-width: 450px){
    .marvel-at-home__list{
        display: flex; /*Alinea el contenido en una sola linea*/
    }
    .marvel-podcast__list{
        display: flex;
    }
}
/*____________________________________________________________*/
.section1{
padding: 30px 0 45px;
}
h3{
    padding: 26px 0 ;
    line-height: 0.9;
    font-family: var(--robotoCondensed);
}
/*_____________________________________________________________*/
.marvel-unlimited{
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
    padding-bottom: 60px;
    margin-bottom: 50px;
}
.marvel-unlimited::after{
    content: "";
    background-image: url(./Imagenes/marvel-unlimited-background.jpg);
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    order: -1;
}

.marvel-unlimited__title{
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--robotoCondensed);
    margin: 35px 0;
    max-width: 500px;
}
.marvel-unlimited__content{
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 60px 30px 80px;
}
.marvel-unlimited__tilte1{
    font-family: var(--robotoCondensed);
    font-size: 40px;
    padding: 0 0 10px;
    max-width: 500px;
}
.marvel-unlimited__description{
    font-size: 14px ;
    font-family: var(--roboto-bold);
    padding: 0 0 30px;
    max-width: 500px;
}

.marvel-unlimited__links{
    width: max-content;
    color: white;
    font-family: var(--robotoCondensed);
    font-size: 14px;
    border: solid 1px white;
    padding: 10px;
}
@media (min-width:450px){
    .marvel-unlimited{
        overflow: hidden;
        clip-path: polygon(0 0, 0 90%, 100% 89.5%, 100% 0);
    }
    .marvel-unlimited::before {
        content: '';
        z-index:1;
        position: absolute;
        left: 50%;
        top: 0;
        height: 0;
        width: 0;
        border-bottom: 500px solid black;
        border-right: 200px solid transparent;
        
        border-top: none;
      }
    .marvel-unlimited::after{
        position: absolute;
        height: 500px;
        left: 50%;
        top: 0;
        width: 56%;
    }
    .marvel-unlimited__content{
        width: 100%;
    }

}
.set-heroes{
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    clip-path: polygon(0 0, 0 100%, 100% 92%, 100% 0);
    padding-bottom: 60px;
}
.set-heroes::after{
    content: "";
    background-image: url("./Imagenes/set_hero_background.jpg");
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    order: -1;
}
.set-heroes__content{
    position: relative;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 10px 80px;
}
.set-heroes__date{
    padding: 20px 0;
    letter-spacing: 4px;
    font-size: 14px;
    font-family: var(--robotoCondensed);
}
.set-heroes__title{
    font-family: var(--robotoCondensed);
    font-size: 40px;

}
.set-heroes__description{
    padding: 20px 0;
    font-family: var(--robotoCondensed);

}
.set-heroes__linksContainer {
    padding-top: 20px;
    max-width: max-content;
    height: 39px;
}
.set-heroes_links{
    color: white;
    text-decoration: none;
    display: inline;
    border: solid 1px white;
    padding: 10px;
    font-family: var(--robotoCondensed);
    font-size: 14px;
    margin-right: 15px;

}
@media (min-width:450px){
    .set-heroes{
        overflow: hidden;
        display: block;
        clip-path: polygon(0 0, 0 90%, 100% 89.5%, 100% 0);
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .set-heroes__content{
        width: 100%;
        padding: 0;
        height: 500px;
    }
    .set-heroes::after{
        position: absolute;
        height: 500px;
        left: 50%;
        top: 0;
        width: 56%;
    }
    .set-heroes::before{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 560px solid black;
        border-right: 260px solid transparent;
        left: 50%;
        z-index: 1;
    }
}
/*selecto de clase . y selector de id #*/_
/* especificidad= que tan especifico esyu selector es decir la  manera en la que el navegador da la prioridad a una declaracion css de ser 
tomada en cuenta* /
